.normalBtn{
    border: 1px solid #2196f3;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.normalBtn:hover{
    background: #2196f3;
    color: #ffffff;
}
.filledBtn{
    background: #2196f3;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
.filledBtn:hover{
    border: 1px solid #2196f3;
    background-color: #ffffff;
}